# Byte-compiled / optimized / DLL files
__pycache__/
build/
*.c
*.so

# Virtual Enviroment
.venv/

# Visual Studio Code
.vscode/

# Session File
*.session
*.session-journal

# Config File
config.ini

# Message File
msg
